/*General*/
body {
    background: url("../img/background.png");
}

html, body, #map_container, #index_container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

/*Index*/
#index_navbar {
    margin-bottom: 0;
}

#left_pic {
    padding-left: 0;
}

#right_pic {
    padding-right: 0;
}

.pic {
    height: 100%;
    max-width: 100%;
    border: 2px solid black;
}

#heading {
    text-align: center;
}

#index_text {
    margin-top: 15px;
    color: black;
    background: ghostwhite;
}

/*Map*/
#map {
    height: 70vw;
    min-height: 300px;
    max-height: 850px;
    width: auto;
    border: 2px solid black;
    margin-bottom: 2%;
}

#search {
    margin-bottom: 20px;
}

