body {
    background: url("../img/background.png");
}

html, body, #map_container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#index_container {
    margin-top: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#flex_container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overview {
    width: 90%;
    height: 90%;
    max-height: 426px;
    max-width: 600px;
    border: 2px solid black;
}

#map {
    height: 70vw;
    min-height: 300px;
    max-height: 850px;
    width: auto;
    border: 2px solid black;
    margin-bottom: 2%;
}